* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #2C2F33;
}

/* NAVBAR */

.headline {
    background-color: #6f2bf4;
    font-family: sf-pro-bold;
    color: white;
    padding-top: 12px;
}

.headline h1 {
    background-color: #6f2bf4;
}

.navbar {
    background-color: #6f2bf4;
    font-family: sf-pro-medium;
    color: lightgray;
}

.navbar a:hover {
    color: white;
}

/* LANDING */

.landing {
    height: 100%;
    padding-top: 64px;
    padding-bottom: 256px;
}

.landing h1 {
    color: white;
    font-family: sf-pro-medium;
    padding: 0;
    margin: 0;
}

.landing h2 {
    color: darkgray;
    font-family: sf-pro-medium;
    padding: 0;
    margin: 0;
}

.landing-btn {
    margin: 16px;
    padding: 8px 8px;
    background-color: #6f2bf4;
    color: white;
    font-family: sf-pro-medium;
    border-radius: 8px;
    border: solid #6f2bf4;
}

/* ABOUT */

.about {
    background-color: #2C2F33;
    padding: 0;
    margin: 0;
    padding-top: 32px;
}

.about h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
    font-size: 48px;
    padding-bottom: 16px;
}

.about p {
    color: darkgray;
    padding: 0;
    margin: 0;
    padding: 4px;
    font-family: sf-pro-light;
    font-size: medium;
}

.knowlege {
    padding-top: 32px;
    padding-bottom: 32px;
}

.knowlege h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
    font-size: 48px;
    padding-bottom: 16px;
}

.knowlege h2 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
    font-size: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.knowlege h3 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
    font-size: 36px;
    padding-bottom: 16px;
}

.knowlege a {
    margin: 0px 8px;
    font-size: 22px;
    color: gray;
}

.knowlege a:hover {
    color: darkgray;
}

/* PROJECTS */

.projects {
    background-color: #2C2F33;
    padding: 0;
    margin: 0;
    padding-top: 128px;
    padding-bottom: 128px;
}

.projects h1 {
    color: white;
    text-align: center;
    font-family: sf-pro-medium;
}

.proj-top {
    height: 256px;
    width: 256px;
    display: block;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}

.proj-bottom h2 {
    color: darkgray;
    font-family: sf-pro-medium;
    font-size: 39px;
    padding: 0;
    margin: 0;
}

.proj-bottom p {
    color: gray;
    padding: 0;
    margin: 0;
    padding-bottom: 8px;
}

.proj-bottom button {
    margin-top: 12px;
    width: 128px;
    height: 48px;
    color: darkgray;
    font-family: sf-pro-medium;
    border: 3px solid darkgray;
    border-radius: 4px;
}

/* CONTACT */

.contact {
    background-color: #44484E;
    padding: 0;
    margin: 0;
    padding-top: 256px;
    padding-bottom: 256px;
}

.contact h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
}

.contact h2 {
    color: darkgray;
    padding: 0;
    margin: 0;
    font-family: sf-pro-medium;
    font-size: 24px;
    padding-bottom: 32px;
}

.contact p {
    color: darkgray;
    font-family: sf-pro-light;
    padding: 0;
    margin: 0;
    font-size: 18px;
    padding-bottom: 4px;
}

.contact a {
    color: gray;
    text-decoration: none;
    font-family: sf-pro-light;
}

.contact a:hover {
    color: #666;
}

/* FOOTER */

footer p {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sf-pro-medium;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #6f2bf4;
}


/* PASCAL */

.pascal {
    padding-top: 22px;
}

.pascal h1{
    text-align: center;
    color: white;
    font-family: sf-pro-medium;
    padding-bottom: 32px;
}

.pascal-download {
    height: 100%;
    padding-bottom: 128px;
}

.pascal-download table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    color: gray;
    font-family: sf-pro-medium;
}

.pascal-download th {
    border: 2px solid gray;
    text-align: center;
    color: white;
    padding: 8px;
}
  
.pascal-download td, th {
    border: 2px solid gray;
    text-align: center;
    color: lightgray;
    padding: 8px;
    font-family: sf-pro-light;
}
  
.pascal-download tr:nth-child(even) {
    background-color: #dddddd;
}

.pascal-download-btn {
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 8px;
    font-size: 14px;
    font-family: sf-pro-medium;
}



/* FONTS */

@font-face {
    font-family: sf-pro-light;
    src: url(../fonts/SFProDisplay-Light.ttf);
}
@font-face {
    font-family: sf-pro-medium;
    src: url(../fonts/SFProDisplay-Medium.ttf);
}
@font-face {
    font-family: sf-pro-bold;
    src: url(../fonts/SFProDisplay-Bold.ttf);
}